<ul>
    <li>
        <a routerLink="/firstpage" routerLinkActive="active">Home</a>
    </li>
    <li>
        <a routerLink="/about" routerLinkActive="active">Login</a>
    </li>
    <li>
        <a routerLink="/contact" routerLinkActive="active">Forgotpassword</a>
    </li>
    <li>
        <a routerLink="/home" routerLinkActive="active">Sign up </a>
    </li>
    <li>
        <a routerLink="/notdefined" routerLinkActive="active">Account</a>
    </li>
    <li>
        <a routerLink="/search" routerLinkActivate="active">New account</a>
    </li>
</ul>
