
    <div class="container">
    <div class="box">
        <h1><i>Insto</i></h1>
                <input id="username" type="name" placeholder="Phone number, username, or email" /><br>
    
                <input id="password" type="password" placeholder="password" /><br>
            <button type="submit" (click)="loginuser()">Login</button>
            <div class="separator">
                <div class="line"></div>
                <p>OR</p>
                <div class="line"></div>
            </div>
            <div class="other">
                <a (click)="facebook()">login with facebook</a><br>
            
                <button type="submit" (click)="loginuser2()">Forgot password?</button>
            </div>
    </div>
    <div class="box">
        <p>Don't have an account? <button type ="submit" (click)="loginuser1()">Sign Up</button>
    </div>
</div>







