<img src="../assets/prava/tree.jpg" height="20%" width="20%">&nbsp;&nbsp;<img src="../../assets/prava/baby gif.gif" height="400" width="400">&nbsp;&nbsp;
<img src="../assets/prava/sunset.jpg" height="25%" width="25%">&nbsp;&nbsp;<img src="../../assets/prava/cap gif.gif" height="20%" width="20%">
<img src="../assets/prava/draw.webp" height="500" width="500">&nbsp;&nbsp;<img src="../../assets/prava/walk.gif" height="20%" width="20%">
<img src="../../assets/prava/dog.jfif" height="30%" width="30%">&nbsp; &nbsp;<img src="../../assets/prava/old women.gif" height="500" width="500">
<img src="../assets/prava/sunset girl.jfif" height="500" width="500">&nbsp;&nbsp;<img src="../../assets/prava/red bird.jfif" height="30%" width="30%">
