<h1><i>Insto Magical World</i></h1><br>
<img src="../../assets/prava/flower.webp" style="float:left"
  width="200"
  height="200"><br>
  

  <table style="width: 50%">
<tr>
    <a style="margin:25px"><b><td>Posts</td></b></a>
    <a style="margin:25px"><b><td>Followers</td></b></a>
    <a style="margin:25px"><b><td>Following</td></b></a>
</tr>
<tr>
  <a style="margin:25px"><td>0</td></a>
  <a style="margin:60px"><td>0</td></a>
  <a style="margin:70px"><td>0</td></a>
</tr>
</table><br><br><br><br><br><br>
<h2>Angel</h2>


<button class="test">Edit Profile</button><br><br><br><br>
<table style="width:150%">
  <tr>
  <a href="submit" style="margin:125px"><b><th>Posts</th></b></a>
<a href="submit" style="margin:125px"><b><th>Reels</th></b></a>
<a href="submit" style="margin:100px"><b><th>Tags</th></b></a>
</tr>
</table>


