<div class="container">
    
    <h1>Insto</h1>
<a class="field">
    <input id="number" type="name" placeholder="Mobile Number" /><br>
    <button class="submit" (click)="enterotp()">send SMS</button>
</a><br>
<a class="field">
<input id="enter otp" type="otp" placeholder="enter OTP"><br><br>
</a>
<a class="field">
    <input id="name" type="name" placeholder="Full Name" />
</a><br>
<a class="field">
    <input id="username" type="username" placeholder="Username">
</a><br>
<a class="field">
    <input id="password" type="password" placeholder="Pasword">
</a><br><br>
<button class="submit" (click)="signup()">Sign Up</button>
</div>

            
